{box-sizing: border-box}


#grid{
	display: grid;
	grid-template-areas: "hd     feature feature feature"
						 "hd     section1 section2 section3"
						 "hd     section4 section5 section6"
						 "footer footer footer footer";
	grid-template-columns: repeat(12, 1fr);
	background-color: #ffffff;
	font-family: 'Staatliches', cursive;
}

header{
	grid-area:hd;
	display: flex;
	grid-column:1/1;
	flex-direction: column;
	border-color: black;
	text-align: center;
	position: fixed;
}

header img{
	width:150px; 
	height:100px;
	margin-bottom: 35%;
}

ul{
	padding: 0px;
	margin: 0px;
}

nav ul li{
	font-size: 20px;
	list-style: none; 
	margin-bottom: 30%;
	color: #5CDB95;
}

 #feature{
	grid-area:feature;
	grid-column:3/12;
	text-align: center;
	background-image: url("images/thumbnails/lamar_big.jpg"); 
	background-repeat:no-repeat;
	background-position: center;
	padding:100px; 
	margin-bottom: 25px;
	background-color: black; 
}

#feature h2{
	color: #000000;
}

 #section1{
	grid-area:section1;
	grid-column:3/6;
	background-color:#379683;
	text-align: center;
}

 #section2{
	grid-area:section2;
	grid-column:6/9;
	background-color:#379683;
	text-align: center;
}

 #section3{
	grid-area:section3;
	grid-column:9/12;
	background-color:#379683;
	text-align: center;
}


@media only screen and (max-width:1000px) {
	#grid{
		display: grid;
		grid-template-areas: "hd"
							 "feature"
							 "section1"
							 "section2"
							 "section3"
							 "section4"
							 "section5"
							 "section6"
							 "footer";
		grid-template-columns: repeat(12, 1fr);
	}

	header{
		grid-area:hd;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		position: static;	
		grid-column:1 ; 
	}

	.icon{
		background: black;
		display: block;
		right: 0;
		left: 0;
		padding:15px;
		align-self: flex-end; 
	}
	
	ul{
		display:none;
	}

	nav ul li{
		font-size: 20px;
		list-style: none; 
		float: left;
		color: #5CDB95;
		padding:10px;
	}

	header img{
		margin-bottom:12%;
		align-self: flex-start;

	}

	a i{
		grid-column:12/13; 
	}

	#feature{
		grid-column:1/13;
	}

	#section1{
		grid-column:1/13; 
	}

	#section2{
		grid-column:1/13; 
	}

	#section3{
		grid-column:1/13; 
	}
	
	
}

